:root {
    /* General font Styles */
    --title-font: "Lobster Two", sans-serif;
    --title-size-one: 60px;
    --body-font: "Molengo", sans-serif;

    /* General Colour Styles */
    --cream: #F9F9F4;
    --soft-green: #CDE8D0;
    --soft-teal: #55808E;
    --light-gray: #D9D9D9;
    --black: #000000;



}

.big-wrapper {
    html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }


    width: 95%;
    margin: 0 auto;
    background-color: var(--cream);
}


h1,
h2,
h3,
h4 {
    font-family: var(--title-font);
    color: var(--soft-teal);
}

h2 {
    font-size: var(--title-size-one);
}

p {
    font-family: var(--body-font);
    color: var(--black);
}

img {
    border-radius: 20px;
    border: 5px solid var(--soft-teal);
}


/* Header Styling Below  */

ul {
    font-family: var(--body-font);
    display: flex;
    justify-content: center;
    margin: 0% 5%;
    list-style: none;
}

li {
    padding: 2%;
    font-size: 20px;
}

a {
    color: var(--soft-teal);
    text-decoration: none;
}

a:hover {
    color: var(--black);
    text-decoration: none;
}


/* Footer Stylings go up here because it is universal across all the pages!  */

footer {
    padding-bottom: 5%;
    padding-top: 5%;

}


footer h3 {
    /* color: var(--soft-green); */
    font-size: 30px;

}

.big-footer {
    display: flex;
    justify-content: center;
    margin: 5% auto 5% auto;
}

.section-five {
    width: 30%;

}

.section-five article {
    background-color: var(--soft-teal);
    color: var(--soft-green);
    border-radius: 20px;
    text-align: center;
    width: 50%;
    padding: 10%;
}


.footer {
    display: flex;
    justify-content: center;
    background-color: var(--soft-teal);
    color: var(--cream);
    border-radius: 20px;
    text-align: center;
    width: 15%;
    padding: 3% 5%;
}


.footer img {
    width: 40%;

}

.footer img:hover {
    border: none;
}

input {
    border-radius: 20px;
    height: 20px;
    margin: 5%;
    text-indent: 5%;
    border-style: none;
}

button {
    border-radius: 10px;
    background-color: var(--soft-green);
    border-style: none;
    height: 40px;
}